@import url(./theme.css);

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

header {
    width: 100vw;
    padding: 2em;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    gap: 3px;
}

header img {
    height: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    width: 100%;
    padding-inline: 1rem;
    max-width: 1100px;
}

.search-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search-input {
    display: flex;
    width: 100%;
    border-radius: 5px;
    font-family: var(--font-title);
    background-color: var(--color-light-grey);
    transition: all 0.3s ease-in-out;
    padding-right: 1em;
    border: none;
    align-items: center;
}

.search-input input {
    flex: 1;
    padding: 1em;
    background: none;
    border: none;
    font-size: 1em;
}

.search-input i {
    font-size: 1.3em;
}

.search-input input::placeholder {
    opacity: 0.35;
}

.search-input input:focus {
    outline: none;
}

.search-filters-list {
    display: flex;
    gap: 0.8rem;
    list-style: none;
}

.search-filter-item {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 5px;
    gap: 0.8em;
    font-size: 0.8em;
}

.search-filter-item * {
    color: white;
}

.search-filter-item i.fa-regular {
    line-height: unset;
}

.bg-ingredient {
    background-color: var(--color-ingredient-primary);
}

.bg-appliance {
    background-color: var(--color-appliance-primary);
}

.bg-ustensil {
    background-color: var(--color-ustensils-primary);
}

.icon-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.search-dropdown-buttons {
    display: flex;
    gap: 0.8rem;
}

.dropdown-container {
    position: relative;
}

.dropdown-content-container {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.dropdown-button {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em 1em;
    border-radius: 5px;
    color: white;
    border: none;
}

.dropdown-button i {
    line-height: unset;
}

.dropdown-input {
    font-size: 0.7rem;
}

.dropdown-input *,
.dropdown-input input::placeholder {
    color: white;
}

.dropdown-input input {
    font-size: 1.2em;
}

.dropdown-list {
    list-style: none;
    color: white;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
}

.dropdown-list-item {
    padding-block: 0.4em;
    padding-right: 0.8em;
    min-width: 100px;
}

.dropdown-item-name {
    font-size: 0.9em;
    font-weight: 400;
}
