@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Lato:wght@400;700&family=Roboto&display=swap");

:root {
    /*Themes attributes*/
    --color-primary: #d04f4f;
    --color-ingredient-primary: #3282f7;
    --color-appliance-primary: #68d9a4;
    --color-ustensils-primary: #ed6454;

    --font-title: "DM Sans", sans-serif;
    --font-body: "Lato", sans-serif;

    --color-light-grey: #e7e7e7;
}
